meta(charset="UTF-8")
- const metaTitle = `${home ? "" : `${title} – `}TasteBase`
title #{metaTitle}
meta(name="title", content=metaTitle)
meta(name="og:title", content=metaTitle)
meta(name="description", content="Discover tasty new recipes for free on TasteBase.")
meta(name="og:description", content="Discover tasty new recipes for free on TasteBase.")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots", content=`${noindex ? "noindex" : "index"}, nofollow`)
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="date=no")
meta(name="format-detection" content="address=no")
meta(name="format-detection" content="email=no")
meta(name="og:image:alt", content="The TasteBase logo")
meta(name="og:locale", content="en_US")
meta(name="og:type" content="website")
link(rel="icon" href="./img/favicon.svg" type="image/svg+xml")
link(rel="stylesheet", href="./scss/main.scss")
- const js = home ? "index" : title.toLowerCase()
script(type="module" src=`./js/${js}.js` defer)
//- Mixins ////////////////////////////////////////////////////////////////////
include ./_mixins.pug