meta(charset="UTF-8")
- const metaTitle = `${home ? "" : `${title} – `}TasteBase`
title #{metaTitle}
meta(name="title", content=metaTitle)
meta(name="og:title", content=metaTitle)
meta(name="description", content=desc)
meta(name="og:description", content=desc)
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots", content=`${noindex ? "noindex" : "index"}, nofollow`)
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="date=no")
meta(name="format-detection" content="address=no")
meta(name="format-detection" content="email=no")
//- meta(name="og:image", content="https://i.imgur.com/7QYOJPx.png")
meta(name="og:image:alt", content="The TasteBase logo")
meta(name="og:locale", content="en_US")
meta(name="og:type" content="website")
//- meta(name="twitter:image", content="./img/main-twit.png")
link(rel="stylesheet", href="./scss/main.scss")